<!DOCTYPE html>
<html>
  <head>
<title>Throuhgt darkness - to light</title>
<link rel="stylesheet" type="text/css" href="../styles/styles.css">
  <script src="https://use.fontawesome.com/de60d6322f.js"></script>
  </head>
<body>
  <div class="firsSlide">
    <div class="black-container"></div>
      <header>
          <img class="logo" src="../img/logo.png" />
          <h1>Through darkness - to light </h1>
        <nav class="menu">
          <ul>
            <li><a href="#secondSlide">Suggestions</a></li>
            <li><a href="#thirdSlide">Details</a></li>
            <li><a href="#fourthSlide">Best solution</a></li>
            <li><a href="#fivethSlide">Features</a></li>
            <li><a href="#5">About</a></li>
          </ul>
        </nav>
      </header>
      <div class="purpose">
        <p>Collect & organize <br> & share light </br></p>
        <button type="button">Join!</button>
    </div>
  </div>
  <div class="secondSlide" id="secondSlide"><a href="#secondSlide"></a>
    <p class="slideName">Suggestions</p>
    <div class="container">
      <div class="cart">
        <img src="../img/lamp.png" />
        <p>Lorem 1</p>
        <div class="bottom">
          <p class="price">758$</p>
          <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
        </div>
      </div>
      <div class="overlay">
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>
  </div>
  <div class="cart">
    <img src="../img/lamp.png" />
    <p>Lorem 2</p>
    <div class="bottom">
      <p class="price">824$</p>
      <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
    </div>
  </div>
  <div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
  <img src="../img/lamp.png" />
  <p>Lorem 3</p>
  <div class="bottom">
    <p class="price">599.6$</p>
    <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
  </div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
  <img src="../img/lamp.png" />
  <p>Lorem 4</p>
  <div class="bottom">
    <p class="price">458$</p>
    <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
  </div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
</div>
<div class="container">
  <div class="cart">
    <img src="../img/lamp.png" />
    <p>Lorem 1</p>
    <div class="bottom">
      <p class="price">758$</p>
      <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
    </div>
  </div>
  <div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
<img src="../img/lamp.png" />
<p>Lorem 2</p>
<div class="bottom">
  <p class="price">824$</p>
  <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
</div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
<img src="../img/lamp.png" />
<p>Lorem 3</p>
<div class="bottom">
<p class="price">599.6$</p>
<button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
</div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
<img src="../img/lamp.png" />
<p>Lorem 4</p>
<div class="bottom">
<p class="price">458$</p>
<button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
</div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
</div>
  </div>
<div class="thirdSlide" id= "thirdSlide">
    <p class="slideName">Details</p>
    <div class="Details">
      <div class="big_cart">
        <img src="../img/lamp.png" />
        <p>Lorem 10</p>
          <div class="bottom">
          <p class="price">458$</p>
          <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
          </div>
      </div>
        <div class="description">
          <p> Lorem 10 name</p>
          <p class="shotDescr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco       laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</p>
        </div>
    </div>

<div class="fourthSlide" id="fourthSlide">
    <p class="slideName"> Best solution </p>
  <div class="Demo">
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/1.jpg">
          <img src="../img/1.jpg" width="300" height="200">
        </a>
        <div class="desc">For bathroom</div>
      </div>
  </div>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/2.jpg">
          <img src="../img/2.jpg" width="300" height="200">
        </a>
        <div class="desc">For kitchen</div>
      </div>
  </div>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/3.jpg">
          <img src="../img/3.jpg" width="300" height="200">
        </a>
        <div class="desc">For bedroom</div>
      </div>
  </div>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/5.jpg">
          <img src="../img/5.jpg" width="300" height="200">
        </a>
        <div class="desc">For living room</div>
      </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/images.jpg">
        <img src="../img/images.jpg" width="300" height="200">
      </a>
      <div class="desc">For bathroom</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/modern-kitchen.jpg">
        <img src="../img/modern-kitchen.jpg" width="300" height="200">
      </a>
      <div class="desc">For living room</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/4.jpg">
        <img src="../img/4.jpg" width="300" height="200">
      </a>
      <div class="desc">For bedroom</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/5.jpg">
        <img src="../img/7.jpg" width="300" height="200">
      </a>
      <div class="desc">For bedroom</div>
    </div>
</div>
</div>
<div class="user">
   <p>Do you like it? Let's change your design to better! </p>
   <button type="button" id="call">Call to wizard </button>
</div>
<p class="slideName"> Features </p>
</div>

<div class="fivethSlide" id= "fivethSlide">
  <div class="features">
  
  <li><i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </li>
  <li><i class="fa fa-bed fa-2x" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </li>
  <li><i class="fa fa-hand-paper-o fa-2x" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </li>
  <li><i class="fa fa-cogs fa-2x" aria-hidden="true"></i>Lorem ipsum dolor sit amet, consectetur adipisicing 
  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</li>

  </div>
</div>
  
   <div class="use">
      <p class="slideName"> Users <p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aut. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute <br> Any qestions? <br></p></br>
        <input tye="text">
        <button type ="button">Submit</button>
        <a href="#call">Or make call</a> 
      
    </div>
<footer>
  <div class="footer_logo">
    <img src="../img/logo.png">
    <p>Throuhgt darkness - to light</p>
  </div>  
    <div class="icons">
      <p> Find us here :</p>
    <svg enable-background="new 0 0 100 100" height="100px" id="Layer_1" version="1.0" viewBox="0 0 100 100" width="100px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M66.501,33.502C62.275,29.278,56.442,26.666,50,26.666c-12.884,0-23.333,10.447-23.333,23.333S37.116,73.334,50,73.334  c11.748,0,21.445-8.697,23.066-20.001H50v-6.667h23.066H80v3.333c0,1.128-0.075,2.238-0.195,3.334  C78.145,68.334,65.442,80.001,50,80.001c-16.569,0-30-13.431-30-30.002c0-16.567,13.431-30,30-30c8.284,0,15.784,3.359,21.214,8.789  L66.501,33.502z"/></svg>
      <svg enable-background="new 0 0 100 100" height="100px" id="Layer_1" version="1.0" viewBox="0 0 100 100" width="100px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M22.626,43.746l10-4.287l17.637,40.542L77.587,40.98c4.226-6.03,2.761-14.346-3.274-18.568  c-6.029-4.225-14.346-2.759-18.568,3.273l5.463,3.823c1.019-1.458,2.549-2.432,4.3-2.741c0.391-0.068,0.784-0.103,1.172-0.103  c1.354,0,2.676,0.414,3.812,1.209c1.459,1.021,2.432,2.549,2.741,4.302s-0.081,3.521-1.106,4.98L51.51,66.598L38.749,36.832  c-1.442-3.371-5.381-4.946-8.75-3.501l-10,4.287L22.626,43.746z"/></svg>
     <svg enable-background="new 0 0 100 100" height="100px" id="Layer_1" version="1.0" viewBox="0 0 100 100" width="100px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M44.524,33.167L31.667,78.166l6.412,1.835L44.72,56.76c3.015,5.986,7.982,9.906,13.613,9.906  C67.539,66.666,75,56.223,75,43.332c0-12.887-11.191-23.333-25-23.333c-13.815,0-25,10.446-25,23.333  c0,6.208,2.61,11.833,6.846,16.013l2.224-7.79c-1.523-2.43-2.402-5.232-2.402-8.223c0-9.188,8.223-16.666,18.333-16.666  c10.104,0,18.333,7.478,18.333,16.666c0,9.823-5.267,16.667-10,16.667c-4.622,0-9.732-6.565-9.954-16.043l2.559-8.957L44.524,33.167  z"/></svg>
      <svg enable-background="new 0 0 100 100" height="100px" id="Layer_1" version="1.0" viewBox="0 0 100 100" width="100px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M88.884,30.942c-0.42-3.503-3.721-6.864-7.175-7.313c-21.062-2.616-42.36-2.616-63.415,0.001  c-3.457,0.448-6.758,3.809-7.178,7.312c-1.487,12.835-1.487,25.283,0,38.118c0.42,3.503,3.721,6.865,7.178,7.312  c21.055,2.615,42.354,2.615,63.415,0c3.454-0.446,6.755-3.809,7.175-7.312C90.371,56.225,90.371,43.777,88.884,30.942z   M82.263,68.292c-0.075,0.465-0.932,1.363-1.426,1.471c-10.16,1.26-20.551,1.904-30.837,1.904s-20.677-0.645-30.886-1.91  c-0.449-0.102-1.302-1-1.38-1.494c-1.423-12.279-1.423-24.245,0.007-36.553c0.071-0.467,0.928-1.364,1.426-1.471  c10.156-1.262,20.547-1.904,30.836-1.904c10.283,0,20.674,0.643,30.886,1.911c0.439,0.099,1.299,0.996,1.377,1.494  C83.688,44.018,83.688,55.983,82.263,68.292z"/><path d="M43.333,36.667v26.667l20-13.333L43.333,36.667z"/></svg>
    <svg enable-background="new 0 0 100 100" height="100px" id="Layer_1" version="1.0" viewBox="0 0 100 100" width="100px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M70,9.999H30c-10.999,0-20,9.001-20,20v40.002c0,10.996,9.001,20,20,20h40c10.999,0,20-9.004,20-20V29.999  C90,19,80.999,9.999,70,9.999z M83.333,70.001c0,7.35-5.979,13.333-13.333,13.333H30c-7.351,0-13.333-5.983-13.333-13.333V29.999  c0-7.352,5.982-13.333,13.333-13.333h40c7.354,0,13.333,5.981,13.333,13.333V70.001z"/><circle cx="71.667" cy="28.332" r="5"/><path d="M50,29.999c-11.048,0-20,8.953-20,20c0,11.043,8.952,20.002,20,20.002c11.045,0,20-8.959,20-20.002  C70,38.952,61.045,29.999,50,29.999z M50,63.334c-7.363,0-13.333-5.97-13.333-13.335S42.637,36.666,50,36.666  s13.333,5.968,13.333,13.333S57.363,63.334,50,63.334z"/></svg>
    <svg enable-background="new 0 0 100 100" height="100px" id="Layer_1" version="1.0" viewBox="0 0 100 100" width="100px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M83.333,10H16.667C13.001,10,10,13.001,10,16.667v66.667C10,86.998,13.001,90,16.667,90h66.666  C86.999,90,90,86.998,90,83.334V16.667C90,13.001,86.999,10,83.333,10z M83.333,83.334H56.667V56.666h16.666V50H56.667v-6.667  c0-5.524,4.479-10,10-10h6.666v-6.667h-6.666C57.464,26.667,50,34.126,50,43.333V50h-6.667v6.666H50v26.668H16.667V16.667h66.666  V83.334z"/></svg>

   </div>
    <div class="lamp">
      <img src="../img/11.png"/>
    </div>
   





</footer>









</body>
</html>
