<!DOCTYPE html>
<html>
  <head>
<title>Throuhgt darkness - to light</title>
<link rel="stylesheet" type="text/css" href="../styles/styles.css">
  </head>
<body>
  <div class="firsSlide">
    <div class="black-container"></div>
      <img class="bacground" src="../img/bacground.png" />
      <header>
          <img class="logo" src="../img/logo.png" />
          <p class="title">Through darkness - to light </p>
        <nav class="menu">
          <ul>
            <li><a href="#secondSlide">Suggestions</a></li>
            <li><a href="#thirdSlide">Details</a></li>
            <li><a href="#fourthSlide">Best solution</a></li>
            <li><a href="#4">About</a></li>
            <li><a href="#5">About</a></li>
          </ul>
        </nav>
      </header>
      <div class="purpose">
        <p>Collect & organize <br> & share light </br></p>
        <button type="button">Join!</button>
      </div>
  </div>
  <div class="secondSlide" id="secondSlide"><a href="#secondSlide"></a>
    <p class="slideName">Suggestions</p>
    <div class="container">
      <div class="cart">
        <img src="../img/lamp.png" />
        <p>Lorem 1</p>
        <div class="bottom">
          <p class="price">758$</p>
          <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
        </div>
      </div>
      <div class="overlay">
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>
  </div>
  <div class="cart">
    <img src="../img/lamp.png" />
    <p>Lorem 2</p>
    <div class="bottom">
      <p class="price">824$</p>
      <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
    </div>
  </div>
  <div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
  <img src="../img/lamp.png" />
  <p>Lorem 3</p>
  <div class="bottom">
    <p class="price">599.6$</p>
    <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
  </div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
  <img src="../img/lamp.png" />
  <p>Lorem 4</p>
  <div class="bottom">
    <p class="price">458$</p>
    <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
  </div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
</div>
<div class="container">
  <div class="cart">
    <img src="../img/lamp.png" />
    <p>Lorem 1</p>
    <div class="bottom">
      <p class="price">758$</p>
      <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
    </div>
  </div>
  <div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
<img src="../img/lamp.png" />
<p>Lorem 2</p>
<div class="bottom">
  <p class="price">824$</p>
  <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
</div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
<img src="../img/lamp.png" />
<p>Lorem 3</p>
<div class="bottom">
<p class="price">599.6$</p>
<button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
</div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
<div class="cart">
<img src="../img/lamp.png" />
<p>Lorem 4</p>
<div class="bottom">
<p class="price">458$</p>
<button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
</div>
</div>
<div class="overlay">
<!--<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</div>-->
</div>
</div>
  </div>
<div class="thirdSlide" id= "thirdSlide">
    <p class="slideName">Details</p>
    <div class="Details">
      <div class="big_cart">
        <img src="../img/lamp.png" />
        <p>Lorem 10</p>
          <div class="bottom">
          <p class="price">458$</p>
          <button type="button" class="buy">buy<img src="../img/Shopping-Cart-icon.png" /></button>
          </div>
      </div>
        <div class="description">
          <p> Lorem 10 name</p>
          <p class="shotDescr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco       laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</p>
        </div>
    </div>

<div class="fourthSlide" id="fourthSlide">
    <p class="slideName">Best solution </p>
  <div class="Demo">
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/1.jpg">
          <img src="../img/1.jpg" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
  </div>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/2.jpg">
          <img src="../img/2.jpg" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
  </div>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/3.jpg">
          <img src="../img/3.jpg" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
  </div>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="../img/5.jpg">
          <img src="../img/5.jpg" width="300" height="200">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/images.jpg">
        <img src="../img/images.jpg" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/modern-kitchen.jpg">
        <img src="../img/modern-kitchen.jpg" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/4.jpg">
        <img src="../img/4.jpg" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../img/5.jpg">
        <img src="../img/7.jpg" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="user">
   <p>Do you like it? Le's change your design to better! </p>
   <button type="button">Call to wizard </button>
</div>

</div>
</div>


</body>
</html>
