<!DOCTYPE html>
<html>
  <head>
<title>Throuhgt darkness - to light</title>
<link rel="stylesheet" type="text/css" href="C:\Users\User\Desktop\work\myMockUp\styles\styles.css">
  </head>
<body>
  <div class="firsSlide">
    <div class="black-container"></div>
      <img class="bacground" src="C:\Users\User\Desktop\work\myMockUp\img\bacground.png" />
      <img class="logo" src="C:\Users\User\Desktop\work\myMockUp\img\logo.png" />
      <div class="title">Through darkness - to light </div>
        <nav class="menu">
          <ul>
            <li><a href="#1">About</a></li>
            <li><a href="#2">About</a></li>
            <li><a href="#3">About</a></li>
            <li><a href="#4">About</a></li>
            <li><a href="#5">About</a></li>
          </ul>
        </nav>
      <div class="purpose">
        <p>Collect & organize <br> & share light </br></p>
        <button type="button">Join!</button>
      </div>
  </div>
  <div class="secondSlide">
    
  </div>

</body>
</html>
