body{
  margin: 0;
  padding: 0;
}

.firsSlide {
  display: flex;
  align-items: center

}
/*.black-container {
  outline: 80px solid rgba(0, 0, 0, .6);

}*/

img.bacground{
  display: block;
  margin: auto;
  width: 100%;

}

img.logo{
  position: absolute;
  top: 10px;
  left: 20px;
}
nav{

  position: absolute;
  top: 8px;
  right: 1px;


}
.menu > ul{
  list-style: none;
  display: flex;
  justify-content: space-between;

}
.menu > ul li a{
  display: block;
  padding: 0 20px 0 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  opacity: 0.3;
  font-size: 15px;
}
li a:hover{
  color: white;

}
div.title {
  position: absolute;
  display: flex;
  align-self: flex-start;
  text-align:left;
  color: white;
  width: 100%;
  font-size: 60px;
  padding: 34px;
  margin-left: 128px;

}

div.purpose{
  position: absolute;
  top: 50%;
  left: 20px;
  text-align:left;
  color: white;
  font-size: 45px;

}

.purpose > p{
  display: inline;
}
.purpose button{
  background-color: red;
  border-radius: 5px;
  border: none;
  padding: 5px 45px;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 25px;
}
.purpose button:hover{
  background-color: #c99362;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
