body{
  margin: 0;
  padding: 0;
  }

  p{
     -webkit-margin-before: 0;
     -webkit-margin-after: 0;


  }
 
  .slideName {
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 25px;
  font-size: 44px;
  color: white;
  }

  .slideName:hover {
      color: #1aa3ff;
  }

.firsSlide{
  background-image: url("../img/bacground.png");
  height: 1154px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}
.firstSlide p {
  padding: 1rem;
}

.firstSlide{
  margin: 1rem;
}

.purpose{
  margin: auto 2rem;
}

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

header:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img.bacground{

  margin: auto;
  width: 100%;

}

img.logo{
  margin:20px;

}

.menu > ul{
  list-style: none;
  display: flex;
  justify-content: space-between; 
  padding: 0 2rem;

}
.menu  ul li a{
  display: block;
  padding: 0 1rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
  opacity: 0.3;
  font-size: 20px;
}

.menu ul li a:hover{
  opacity: 1;
  color: white;

}

h1 {
  color: white;
  width: 100%;
  font-size: 60px;
  padding: 0 25px;
  width: auto;
  margin-right: auto; 
}

div.purpose{
  text-align:left;
  color: white;
  font-size: 65px;

}

.purpose > p{
  display: inline;
  vertical-align: middle;
}
.purpose button{
  background-color: red;
  border-radius: 5px;
  border: none;
  padding: 5px 45px;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 25px;
}

.purpose button:hover{
  background-color: #ca9362;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.secondSlide{
  background-color: #ca9362;
  height: 760px;
}


.container {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 39px 0 25px 25px;
  /*flex-wrap:wrap;
  align-content:space-around;*/
  position: relative;


}

.cart{
  display: block;
  height: 300px;
  width: 270px;
  background-color: #561d21;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: .5s ease;
}
.cart > img {
  
  height: 170px;
  margin: auto;
  padding: 18px 18px 0px  70px;

}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 35px 35px 0 35px;
}
.cart > p{
  text-align: center;
  color: white;
  font-size: 25px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
p.price{
  text-align: left;
  font-size: 25px;
  color: white;
}
.cart button{

  background-color: #ff2400;
  border-radius: 5px;
  border: none;
  text-align: center;
  vertical-align: middle;
  color: white;
  display: inline-block;

}
button > img{
  width: 25px;
  height: 25px;

}

/*button.minicart{
  padding: 4px 7px;
}*/

button.buy{

  padding: 7px 21px;
  font-size: 20px;
}

.overlay {

  /*height: 300px;
  width: 250px;
  opacity: 0;*/
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  background-color: #4a4d53;
}

.container:hover .cart {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}

.text{
  color: white;
  background-color: #4CAF50;
  font-size: 23px;
  position: absolute;
  left: 45px;
}
.thirdSlide{
  background-color: #ca9362;
  height: 1000px;
}

.big_cart{

  display: block;
  height: 500px;
  width: 400px;
  background-color: #561d21;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  position: relative;
}

.big_cart > img {
  margin: auto;
  padding: 18px 18px 0px  64px;

}
.big_cart.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 35px;
  position: absolute;
  bottom: -8px;
}
.big_cart > p{
  text-align: center;
  color: white;
  font-size: 25px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.big_cart p.price{
  text-align: left;
  font-size: 25px;
  color: white;
}
.big_cart button{

  background-color: #ff2400;
  border-radius: 5px;
  border: none;
  text-align: center;
  vertical-align: middle;
  color: white;
  display: inline-block;

}
.big_cart button > img{
  width: 25px;
  height: 25px;

}


.big_cart button.buy{

  padding: 7px 21px;
  font-size: 20px;
}

.Details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
}


.description{
  width: 60%;
  height: 500px;

}
.description > p{
  font-size: 25px;
  color: white;
  padding: 0px 40px 20px 40px;
}

.fourthSlide{
  background-color: #561d21;
  height: 1000px;
}
.Demo{
  height: 660px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.gallery {
    border: 1px solid #ccc;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery img {
    width: 100%;

}

div.desc {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
}
div.desc:hover{
    background-color: #ca9362;
  color: black;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 20px 10px;
    /*float: left;*/
    width: 24.99999%;


}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.user{
  text-align: center;
}

.user p {
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 50px 0 40px 0;

}

.user button{
  padding: 7px 21px;
  font-size: 20px;
  background-color: #ff2400;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: white;
  display: inline-block;
  margin: auto;
}

.user button:hover{
  background-color: #ca9362;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.fivethSlide{
  background-image: url(../img/8.jpg);
  height: 1050px;
  
  
}

.features{
  
  width: 40%;
  background-color: rgb(23, 23, 23);
  opacity: 0.7;
  padding: 46px;
  position: relative;
  top: 110px;
  float: right;


  
}

.features > li{
  padding: 10px;
  color: white;
  font-size: 25px;
  list-style: none;
}
i{
  padding: 10px 20px;
  color: red;
}

.use {
  background-color: #561d21;
  height: 650px;
  padding: 20px;
  }

.use p{
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: column;
}
form{
  margin: 30px 0;
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

form textarea{
  width: 350px;
  height:100px;
  padding:15px 20px;
  color: red;
  font-size: 20px;
  border-radius: 5px;
  resize: none;

}

form input{
  padding: 15px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: red;
}

form button{
  padding: 15px 20px;
  font-size: 20px;
  background-color: #ff2400;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: white;
  margin: 8px 0;
}

/*form img {
  width: 25px;
  height: 25px;
  color: white;
}*/

form a{
  font-size: 25px;
  text-decoration: none;
  color:white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 40px;

}
form a:hover{
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #CA9362;
  color: black;
  border: none;

}


footer{
  height: 300px;
  background-color: #201414;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px;
   
}
.footer_logo{
  display: flex;
  align-items: center;
  margin: 20px;
}

.icons{
  display: flex;
}

.icons svg{
  fill: white;
  width: 40px;
  height: 60px;
  margin: 0 5px;


 
}

svg:hover{
  fill: red;
}

footer p{ 
  color: white;
  font-size: 45px;
  padding: 0px 25px 0 25px;
  display: inline;


 }
 footer p:hover{
  color: red;
 }

 .lamp img{


 }