body{
  margin: 0;
  padding: 0;
  }

  p{
     -webkit-margin-before: 0;
     -webkit-margin-after: 0;


  }
  .slideName {
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 25px;
  font-size: 44px;
  color: white;
  }

  .slideName:hover {
      color: #1aa3ff;
  }

.firsSlide{
  background-image: url("../img/bacground.png");





}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/*.black-container {
  outline: 80px solid rgba(0, 0, 0, .6);

}*/

img.bacground{

  margin: auto;
  width: 100%;

}

img.logo{
  margin:20px;

}

.menu > ul{
  list-style: none;
  display: flex;
  justify-content: space-between;

}
.menu > ul li a{
  display: block;
  padding: 0 20px 0 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  opacity: 0.3;
  font-size: 20px;
}
li a:hover{
  color: white;

}
p.title {
  color: white;
  width: 100%;
  font-size: 60px;
  padding: 34px;
  width: auto;
  position: absolute;
  left: 145px;

}
p.title:hover{
  color: #1aa3ff;
}


div.purpose{
  position: absolute;
  top: 50%;
  left: 20px;
  text-align:left;
  color: white;
  font-size: 65px;

}

.purpose > p{
  display: inline;
  vertical-align: middle;
}
.purpose button{
  background-color: red;
  border-radius: 5px;
  border: none;
  padding: 5px 45px;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 25px;
}

.purpose button:hover{
  background-color: #ca9362;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.secondSlide{
  background-color: #ca9362;
  height: 760px;
}


.container {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 39px 0 25px 25px;
  /*flex-wrap:wrap;
  align-content:space-around;*/
  position: relative;
  

}

.cart{
  display: block;
  height: 300px;
  width: 270px;
  background-color: #561d21;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: .5s ease;
  backface-visibility: hidden;
}
.cart > img {
  width: 160px;
  height: 170px;
  margin: auto;
  padding: 18px 18px 0px  52px;

}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 35px;
}
.cart > p{
  text-align: center;
  color: white;
  font-size: 25px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
p.price{
  text-align: left;
  font-size: 25px;
  color: white;
}
.cart button{

  background-color: #ff2400;
  border-radius: 5px;
  border: none;
  text-align: center;
  vertical-align: middle;
  color: white;
  display: inline-block;

}
button > img{
  width: 25px;
  height: 25px;

}

/*button.minicart{
  padding: 4px 7px;
}*/

button.buy{

  padding: 7px 21px;
  font-size: 20px;
}

.overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 300px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  background-color: #4a4d53;
}

.container:hover .cart {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}

.text{
  color: white;
  background-color: #4CAF50;
  font-size: 23px;
  position: absolute;
  left: 45px;
}
.thirdSlide{
  background-color: #ca9362;
  height: 1000px;
}

.big_cart{
  
  display: block;
  height: 500px;
  width: 400px;
  background-color: #561d21;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  position: relative;
}

.big_cart > img {
  margin: auto;
  padding: 18px 18px 0px  64px;

}
.big_cart.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 35px;
  position: absolute;
  bottom: -8px;
}
.big_cart > p{
  text-align: center;
  color: white;
  font-size: 25px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.big_cart p.price{
  text-align: left;
  font-size: 25px;
  color: white;
}
.big_cart button{

  background-color: #ff2400;
  border-radius: 5px;
  border: none;
  text-align: center;
  vertical-align: middle;
  color: white;
  display: inline-block;

}
.big_cart button > img{
  width: 25px;
  height: 25px;

}


.big_cart button.buy{

  padding: 7px 21px;
  font-size: 20px;
}

.Details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
}


.description{
  width: 60%;
  height: 500px;

}
.description > p{
  font-size: 25px;
  color: white;
  padding: 0px 40px 20px 40px;
}

.fourthSlide{
  background-color: #561d21;
  height: 600px;
}

div.gallery {
    border: 1px solid #ccc;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
  
